.auth-container {
  background-color: #0000FF;
  padding: 20px;
  color: white;
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
  text-align: center;
}

.auth-container h2 {
  font-size: 2em;
}

.sign-up, .login {
  background-color: #FFFF00;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
}

.sign-up h3, .login h3 {
  font-size: 1.5em;
}

.sign-up form input, .login form input {
  display: block;
  width: 90%;
  padding: 15px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
}

.sign-up button, .login button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-us {
  background-color: orange; /* Orange background */
  color: violet; /* Violet text */
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  text-align: left; /* Align left for better readability */
}

.contact-us h2, .contact-us h3 {
  font-size: 1.5em;
}

.contact-us p {
  font-size: 1.2em;
}

.contact-us textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

.contact-us button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: violet; /* Button color */
  color: white;
  cursor: pointer;
}
